@font-face {
	font-family: "TimesNewRoman";
	src: url("/fonts/TimesNewRoman.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "TimesNewRomanExtraBold";
	src: url("/fonts/MTimes-ExtraBold.woff2") format("woff2");
	font-weight: 800;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

header {
	font-family: "TimesNewRomanExtraBold", serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	padding: 50px;
	background-color: #2a2a2a;
	color: #d3d3d3;
}

.link {
  text-decoration: none;
  color: #2a2a2a;
}

.footer {
	font-family: "TimesNewRoman", serif;
	display: flex;
	height: 100svh;
	background-color: #d3d3d3;
	color: #2a2a2a;
  font-size: 24px;
}

.footer_left,
.footer_right {
	width: 50%;
}

.footer_left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1024px) {

  header {
    font-size: 28px;
  }
  .footer {
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    height: auto;
    font-size: 16px;
  }
  .footer_left,
  .footer_right {
    width: 100%;
  }
}
