header {
	font-family: "HelveticaNeue", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 20px;
	background-color: #2a2a2a;
	color: white;
	width: 100%;
	/*border: 1px solid white;*/
}

.Header {
	width: 100%;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	position: relative;
	height: 100%;
	/*border: 1px solid white;*/
}

.title {
	color: white;
	text-decoration: none;
	font-size: 5rem;
}

.footer {
	font-family: "TimesNewRoman", serif;
	display: flex;
	height: 100svh;
	background-color: #d3d3d3;
	color: #2a2a2a;
	font-weight: 400;
}

.footer_left,
.footer_right {
	width: 50%;
}

.footer_left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer .link:hover {
	color: white;
}

@media (max-width: 1024px) {
	.footer {
		flex-direction: column;
		padding-top: 200px;
		padding-bottom: 200px;
		height: auto;
	}
	.footer_left,
	.footer_right {
		width: 100%;
	}
	.footer {
		flex-direction: column;
		padding-top: 200px;
		padding-bottom: 200px;
		height: auto;
		font-size: 16px;
	}
	.footer_left,
	.footer_right {
		width: 100%;
	}

	.title {
		font-size: 1.5rem;
	}
}
