/* Rules section */
.rulesSection {
	display: flex;
	justify-content: center;
	min-height: 180vh;
	background-color: transparent;
	color: #d3d3d3;
	position: relative;
	z-index: 1000;
}

.rulesMedia {
	position: relative;
	width: 100%;
	min-height: 200vh;
	overflow: hidden;
	z-index: 1000;
}

.rulesBackground {
	position: fixed;
	inset: 0;
	z-index: 0;
	pointer-events: none;
}

.rulesImage {
	object-fit: cover;
}

.rulesOverlay {
	position: absolute;
	z-index: 1001;
	bottom: 300px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.75);
	padding: 24px;
	width: min(90vw, 500px);
}

.rulesOverlay h3 {
	padding-bottom: 20px;
}

.rulesOverlay ol li {
	margin-bottom: 0.75rem;
	margin-left: 30px;
}

@media (max-width: 1024px) {
	.rulesSection {
		min-height: 200svh;
	}

	.rulesMedia {
		width: 100%;
		min-height: 140svh;
	}

	.rulesOverlay {
		bottom: 250px;
		padding: 12px;
		width: min(90vw, 250px);
	}

	.rulesOverlay ol li {
		margin-bottom: 0.4rem;
	}
}
